<% include ./partials/header%>
	
	<h1 class="text-center">Editing  <span class="text-center"><%= resident.name %>...</span></h1>
	<div class = "container-fluid form-container">
		<form action = '/residents/<%= resident._id %>?_method=put' method = 'POST'>
		  <div class="form-group">
		    <label for="ResidentName">Name</label>
		    <input type="text" class="form-control"  name ="name" value="<%= resident.name %>">
		  </div>
		  <div class="form-group">
		    <label for="age">Age</label>
		    <input type="text" class="form-control" name = "age" value="<%= resident.age %>">
		  </div>

		  <div class="form-group">
		    <label for="gender">Gender</label>
		    <input type="text" class="form-control" name = "gender" placeholder="<%= resident.gender %>">
		  </div>
		  <button type = "submit "class = "btn btn-success btn-lg">Update</button>
		</form>
	</div>


<% include ./partials/footer%>

